Django==5.1.4
amqp
asgiref
attrs
billiard
celery
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
django-celery-beat
django-redis
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-spectacular
Faker
inflection
jsonschema
jsonschema-specifications
kombu
mixer
pillow
prompt_toolkit
psycopg2-binary
PyJWT
python-crontab
python-dateutil
python-decouple
PyYAML
redis
referencing
rpds-py
six
sqlparse
tzdata
uritemplate
validate_email
vine
wcwidth
