{% extends '_base.html' %}
{% load static %}
{% block title %}All Advertise{% endblock %}
{% block extra-head %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}


{#main#}
{% block content %}
    <div class="w-[100vw] mb-[60px]">
        <h1 class="m-auto ">Category</h1>
    </div>

    <div id="categoryView" class="mx-5 my-5 flex items-center ">

    </div>



    {#    maine view#}

    <div class="max-w-[80vw] m-auto  grid grid-cols-3 gap-3 " id="maineView">


        {#side bare view#}

    </div>
{% endblock %}
{#end main#}


{% block script %}
    <script src="{% static 'js/SetToken.js' %}"></script>
    <script src="{% static 'js/filter/getCategoryFetch.js' %}"></script>
    <script src="{% static 'js/AddAdvertise/ViewAdvertising/allAdvertise/allAdvertising.js' %}"></script>
    <script src="{% static 'js/AddAdvertise/ViewAdvertising/favorite/FavoriteAddAndRemove.js' %}"></script>
    {#    <script src="{% static 'js/filter/getCategory.js' %}"></script>#}


    <script>
        const userId =    {% if request.user.is_authenticated  %}
            {{ request.user.id }}
        {% else %}
            NaN
        {% endif %}
        var domainPort = window.location.port;
        let maineViewEl = document.querySelector('#maineView')
        let sidebarViewEl = document.querySelector('#sideBaer')
        let categoryViewEL = document.querySelector('#categoryView')
        document.addEventListener("DOMContentLoaded", (ev) => {
            ev.preventDefault()
            AllAdvertising()
            {#getCategory()#}
            getCategoryFetch()
        })

    </script>
{% endblock %}
