{% extends '_base.html' %}
{% load static %}
{% block title %}
    Add Advertise
{% endblock %}

{% block content %}
    <div     class="" id="category_key"></div>
    <div     class="" id="forms"></div>
{% endblock %}

{% block script %}
    <script>
        var domainPort = window.location.port;
        var categoryKey=document.querySelector("#category_key")
        var formView=document.querySelector("#form")
        let categoryId=0
        let stateId=0
        let cityId=0
        let advertiseId=0
        
    
    </script>

    <script src="{% static 'js/SetToken.js' %}"></script>
    <script src="{% static 'js/AddAdvertise/viewCategory.js' %}"></script>
    <script src="{% static 'js/AddAdvertise/advertiing.js' %}"></script>
    <script src="{% static 'js/AddAdvertise/formAdvertise.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded',(ev)=>{
            ev.preventDefault()
            getCategory()
        })
    </script>

{% endblock %}