<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" id="form_input">
    <input type="text"  name= 'title' placeholder="title" class="input input-bordered w-full max-w-xs"/>
    <input type="number"  name= 'price'  placeholder="price" class="input input-bordered w-full max-w-xs"/>
    <textarea name= 'description' class="textarea textarea-bordered" placeholder="Bio"></textarea>
    <button class="btn btn-ghost" type="button" onclick="">accept</button>
    
    
</form>
</body>
</html>